# Ignore Makefiles
Makefile
makefile

# Ignore PDF files
*.pdf

#Ignore folder
archive/

# Ignore build output without extension
nn_layers

# Ignore buildt files
*.o

# Ignore old version
neuron.c
neuron.h
neuron